<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="A calendar for Apple Calendar, Outlook etc. containing all upcoming Node.js releases" />

	<title>Node.js Release Calendar</title>

	<link rel="icon" href="favicon.svg">
	<link rel="stylesheet" href="style.css">

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const button = document.querySelector('button');
			const message = document.querySelector('#clipboard-message');

			button.addEventListener('click', () => {
				navigator.clipboard.writeText('https://idleberg.github.io/nodejs-release-calendar/nodejs-releases.ics');
				message.style.opacity = 1;
	
				setTimeout(() => {
					message.style.opacity = 0;
				}, 2000);
			});
		});
	</script>
</head>

<body class="flex flex-col bg-grey-lighter dark:bg-gray-800  h-screen font-sans">
	<main class="container mx-auto h-full flex justify-center items-center">
		<div class="mx-5 w-full lg:w-2/3 md:mx-0">

			<h1 class="text-2xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100">
				<span class="block xl:inline">
					📆 Node.js Release Calendar
				</span>
			</h1>

			<p
				class="mt-3 text-base text-gray-600 dark:text-gray-200 sm:mt-5 sm:text-lg sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
				This calendar contains all upcoming <a href="https://github.com/nodejs/release">Node.js releases</a>, available
				for Apple Calendar, Microsoft Outlook, and other calendar applications supporting the iCalendar format
				(<code>*.ics</code>).
			</p>

			<p
				class="mt-3 text-base text-gray-600 dark:text-gray-200 sm:mt-5 sm:text-lg sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
				<button type="button"
					class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"
					title="Copy the URL to the calendar to your clipboard">
					Copy URL
				</button>

				<span id="clipboard-message" class="transition-opacity ml-3 text-emerald-500" style="opacity: 0;">
					Link copied to clipboard!
				</span>
			</p>

		</div>
	</main>

	<footer class="w-full text-center p-4 pin-b">
		<a href="https://github.com/idleberg/nodejs-release-calendar" class="text-indigo-500 dark:text-indigo-400">Code on
			GitHub</a>
	</footer>
</body>

</html>